# Ignore node_modules directory
node_modules/

# Ignore environment-specific files
.env
.env.local
.env.*.local

# Ignore logs
logs/
*.log

# Ignore npm debug log
npm-debug.log*

# Ignore yarn lockfile
yarn.lock

# Ignore dependencies installed by npm
package-lock.json

# Ignore IDE specific files
.vscode/
.idea/

# Ignore built output
/build/
/dist/
